[submodule "countdna"]
	path = countdna
	url = github.com:qarls/countdna.git
[submodule "dna_to_rna"]
	path = dna_to_rna
	url = github.com:qarls/dna_to_rna.git
[submodule "dna_complement"]
	path = dna_complement
	url = github.com:qarls/dna_complement.git
[submodule "fib"]
	path = fib
	url = github.com:qarls/fib.git
[submodule "gc"]
	path = gc
	url = github.com:qarls/gc.git
[submodule "hamm"]
	path = hamm
	url = github.com:qarls/hamm.git
